/* STARTS | _under_construction.sass */
#_under_construction_body
   position: relative
   background-color: lightblue

#_under_construction_main
   text-align: center
   height: 100vh
   display: flex
   justify-content: center
   align-items: center
   h1, h2
      color: #000000

#under_construction_footer
   width: 100%
   position: absolute
   bottom: 0
   left: 0

/* ENDS | _under_construction.sass */
