* {
  background-color: #f4f4f2;
  color: #495464;
}

.page_container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 900px;
}

body, main, header, footer {
  padding: 0 5%;
}

/* ------------------------------------------- FONT-FAMILY / FONT-WEIGHT / FONT-SIZE  -------------------------------------- */
h1, h2, h3, h4, h5, h6, .navMenu li a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

main h1 {
  font-size: 1.4em;
}

main h2{
  font-size: 1.2em;
}

p, li, th {
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
}

.navMenu li {
  font-size: 1.5em;
}

header p {
  font-size: 2em;
  font-weight: bold;
}

/* ------------------------------------- FLEX / FLEX / FLEX --------------------------------------------*/

main, footer, .header_wrapper, .social_links, .profile {
  display: flex;
}

.header_wrapper {
  align-items: center;
}

main {
  align-items: stretch;
}

.content, .profile, footer {
  flex-direction: column;
}

.header_wrapper, .social_links {
  justify-content: space-between;
}

.content {
  flex: 3;
}

.profile {
  flex: 1;  
  align-items: flex-start;
}

#skillsTable, .social_links {
  width: 100%;
}

/* ---------------------------------------- HEADER - STYLE ------------------------ */
header {
  top: 0;
  height: 5em;
}

/* ---------------------------------------- NAVBAR - STYLE ------------------------ */

.navMenu li a {
  color: #495464;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.navMenu li a:hover {
  color: #bbbfca;
  box-shadow: 0px 2px 1px 0px rgb(219, 227, 229.5);
}


/* ------------------------------------ MAIN | SECTION - SYTLE -------------------------- */

section {
  padding: 2em 0;
}

.narrow {
  padding: 0 1em 1em 1em;  
  -webkit-box-shadow: -5px 7px 4px 0px rgba(219,227,229.5);
  -moz-box-shadow: -5px 7px 4px 0px rgba(219,227,229.5);
  box-shadow: -5px 7px 4px 0px rgb(219, 227, 229.5);
}

hr {
  border-color: #f4f4f2;
  margin: 2em;
}

.narrow h1 {
  margin: 0 0 1.5em;
}

th {
  font-weight: normal;
}

/*--------------------------------------- CONTENT / STYLE --------------------------- */
.content {
  padding: 0 2em;
}

/*--------------------------------------- PROFILE / STYLE --------------------------- */
.profile section {
  align-self: center;
  text-align: center;
}

.profile section img {
  height: 6.75em;
}

/* ------------------------------------ FOOTER | SECTION - SYTLE -------------------------- */
footer {
  bottom: 0;
  align-items: center;
}

footer .social_links i {
  margin-top: 0.25em;
  font-size: 3em;
}

footer .social_links a {
  padding: 1em 1.75em;
  text-decoration: none;
  font-size: 1.25em;
}

footer p {
  font-size: 1em;
}
